<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/seksi']">Seksi</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Ubah</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Ubah Seksi</h5>
      </div>
      <div class="card-block">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Dinas</label>
            <div class="col-sm-10">
              <ng-select
                [ngClass]="'ng-select'"
                [allowClear]="true"
                [options]="dinasOption"
                formControlName="dinas"
                (selected)="onSelectedDinas($event)"
                (deselected)="onDeselectedDinas($event)">
              </ng-select>
              <span class="messages text-danger" *ngIf="!myForm.get('dinas').valid && myForm.get('dinas')">* Pilih salah satu</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Bidang</label>
            <div class="col-sm-10">
              <ng-select
                [ngClass]="'ng-select'"
                [allowClear]="true"
                [options]="bidangOption"
                formControlName="bidang">
              </ng-select>
              <span class="messages text-danger" *ngIf="!myForm.get('bidang').valid && myForm.get('bidang')">* Pilih salah satu</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Template</label>
            <div class="col-sm-10">
              <div *ngIf="data_upload_doc != null">
                <a target="_blank" [href]="data_upload_doc.path">{{ data_upload_doc.nama }}</a>
              </div>
              <input class="form-control" type="file" (change)="onUpload($event, ['doc', 'docx'], i)" placeholder="Upload file..." accept="*" />
              <input class="form-control" type="hidden" placeholder="nama" formControlName="nama"/>
              <input class="form-control" type="hidden" placeholder="path" formControlName="path"/>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-6 col-sm-3">
              <a [routerLink]="['/template']" class="btn btn-danger btn-md btn-block">
                <i class="icofont icofont-error"></i> Batal
              </a>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!myForm.valid">
                <i class="icofont icofont-diskette"></i> Simpan
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
