<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/kegiatan']">Kegiatan</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Detail</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Detail Kegiatan</h5>
      </div>
      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tanggal :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ convert.formatDateYMD(dataKegiatan.tanggal) }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Kegiatan :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataKegiatan.nama_kegiatan }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tempat:</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataKegiatan.tempat }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Penyelenggara:</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataKegiatan.penyelenggara }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Trigger :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataKegiatan.trigger }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tugas Pokok :</label>
          <div class="col-sm-10" style="margin-top: 5px;" *ngIf="dataKegiatan.is_tugas_pokok; else tp">
            <label class="label label-success">Ya</label>
          </div>
          <ng-template #tp>
            <div class="col-sm-10" style="margin-top: 5px;">
              <label class="label label-danger">Tidak</label>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Keterangan</h5>
      </div>
      <div class="card-block" [innerHTML]="dataKegiatan.keterangan"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Evidence</h5>
      </div>
      <div class="card-block">

        <div class="row">
          <div class="col-md-3" *ngFor="let item of dataEvidence; let i=index">
            <div class="card card-border-primary">
              <a href="{{item.path}}" target="_blank">
                <img src="{{item.path}}" 
                  class="card-img-top centered-and-cropped"
                  width="150" height="150" >
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="offset-md-9 col-sm-3">
            <a [routerLink]="['/kegiatan']" class="btn btn-danger btn-md btn-block">
              <i class="icofont icofont-error"></i> Kembali
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
