<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/laporan']">Laporan</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">List</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <br>
        <div class="card card-border-primary table-border-style">
            <div class="card-header">
                <h5>Laporan</h5>
            </div>
            <div class="card-block">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-form-label">Laporan</label>
                            <ng-select
                                name="laporan" 
                                placeholder="Laporan"
                                [ngClass]="'ng-select'"
                                [allowClear]="true"
                                [options]="laporanOption"
                                ngModel
                                (ngModelChange)="onLaporanChange($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="this.laporanType === 'month'">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-form-label">Tahun</label>
                            <ng-select
                                name="tahun" 
                                placeholder="Tahun"
                                [ngClass]="'ng-select'"
                                [allowClear]="true"
                                [options]="tahunOption"
                                [(ngModel)]="tahunNow">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-form-label">Bulan</label>
                            <ng-select
                                name="bulan" 
                                placeholder="Bulan"
                                [ngClass]="'ng-select'"
                                [allowClear]="true"
                                [options]="bulanOption"
                                [(ngModel)]="bulanNow">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="this.laporanType === 'range'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Periode Tanggal</label>
                            <br/>
                            <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
                            </ngb-datepicker>

                            <ng-template #t let-date="date" let-focused="focused">
                            <span class="custom-range"
                                  [class.focused]="focused"
                                  [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                                  [class.faded]="isHovered(date) || isInside(date)"
                                  (mouseenter)="hoveredDate = date"
                                  (mouseleave)="hoveredDate = null">
                              {{ date.day }}
                            </span>
                            </ng-template>
                            <pre class="m-t-20">Periode Tanggal: {{ parserFormatter.format(fromDate) }} ke {{ parserFormatter.format(toDate) }}</pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
