<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/user']">User</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Detail</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Detail User</h5>
      </div>
      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">NIP :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.nip }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Kode Karyawan :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.kode_karyawan }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nama :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.nama }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Jenis Kelamin :</label>
          <div class="col-sm-10" style="margin-top: 5px;" *ngIf="dataUser.jenis_kelamin == 'L'; else jenkel">
            Laki-laki
          </div>
          <ng-template #jenkel>
            <div class="col-sm-10" style="margin-top: 5px;">
              Perempuan
            </div>
          </ng-template>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tempat Lahir :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.tempat_lahir }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tanggal Lahir :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ convert.formatDateYMD(dataUser.tanggal_lahir) }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Dinas :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataDinas.nama_pendek }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Bidang :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataBidang.nama_pendek }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Seksi :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataSeksi.nama_pendek }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Jabatan :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataJabatan.nama }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Pangkat :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataPangkat.nama }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Alamat :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.alamat }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">No. Telepon :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.no_telp }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Keterangan :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.keterangan }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Autentikasi</h5>
      </div>
      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Role :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataRole.name }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.email }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Username :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataUser.username }}
          </div>
        </div>
        <div class="row">
          <div class="offset-md-9 col-sm-3">
            <a [routerLink]="['/user']" class="btn btn-danger btn-md btn-block">
              <i class="icofont icofont-error"></i> Kembali
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
