<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/pangkat']">Pangkat</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Tambah</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Tambah Pangkat</h5>
      </div>
      <div class="card-block">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nama" formControlName="nama">
              <span class="messages text-danger" *ngIf="!myForm.get('nama').valid && myForm.get('nama')">* Harus diisi</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Keterangan</label>
            <div class="col-sm-10">
              <textarea rows="5" cols="5" class="form-control" placeholder="Keterangan" formControlName="keterangan"></textarea>
              <span class="messages text-danger" *ngIf="!myForm.get('keterangan').valid && myForm.get('keterangan')">* Harus diisi</span>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-6 col-sm-3">
              <a [routerLink]="['/pangkat']" class="btn btn-danger btn-md btn-block">
                <i class="icofont icofont-error"></i> Batal
              </a>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!myForm.valid">
                <i class="icofont icofont-diskette"></i> Simpan
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
