<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/user']">User</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Ubah</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Ubah User</h5>
      </div>
      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">NIP</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="NIP" formControlName="nip">
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('nip').valid && myForm.get('nip')">
              * Harus diisi
            </span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Kode Karyawan</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Kode Karyawan" formControlName="kode_karyawan">
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('kode_karyawan').valid && myForm.get('kode_karyawan')">
              * Harus diisi
            </span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nama <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Nama" formControlName="nama">
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('nama').valid && myForm.get('nama')">
              * Harus diisi
            </span> -->
            <div *ngIf="nama?.invalid && (nama?.dirty || nama?.touched)">
              <span class="messages text-danger" *ngIf="nama?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Jenis Kelamin <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <div class="form-radio">
              <div class="radio">
                <label>
                  <input type="radio" name="radio" formControlName="jenis_kelamin" value="L" name="jenis_kelamin">
                  <i class="helper"></i>Laki-laki
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="radio" formControlName="jenis_kelamin" value="P" name="jenis_kelamin">
                  <i class="helper"></i>Perempuan
                </label>
              </div>
            </div>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('jenis_kelamin').valid && myForm.get('jenis_kelamin')">
              * Harus diisi
            </span> -->
            <div *ngIf="jenis_kelamin?.invalid && (jenis_kelamin?.dirty || jenis_kelamin?.touched)">
              <span class="messages text-danger" *ngIf="jenis_kelamin?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tempat Lahir <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Tempat Lahir" formControlName="tempat_lahir">
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('tempat_lahir').valid && myForm.get('tempat_lahir')">
              * Harus diisi
            </span> -->
            <div *ngIf="tempat_lahir?.invalid && (tempat_lahir?.dirty || tempat_lahir?.touched)">
              <span class="messages text-danger" *ngIf="tempat_lahir?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tanggal Lahir <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <div class="input-group" style="margin-bottom: 0px;">
              <input
                class="form-control"
                placeholder="Tanggal"
                name="dp" 
                formControlName="tanggal_lahir"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="!completed && d.toggle(); $event.stopPropagation();"
                (document:click)="closeFix($event, d)"
                [minDate]="lahirMinPicker"
                [maxDate]="lahirMaxPicker"
                readonly>
              <div class="input-group-addon bg-default" (click)="!completed && d.toggle(); $event.stopPropagation();">
                <span class="icofont icofont-ui-calendar"></span>
              </div>
            </div>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('tanggal_lahir').valid && myForm.get('tanggal_lahir')">
              * Harus diisi
            </span> -->
            <div *ngIf="tanggal_lahir?.invalid && (tanggal_lahir?.dirty || tanggal_lahir?.touched)">
              <span class="messages text-danger" *ngIf="tanggal_lahir?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Dinas <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <ng-select
              [ngClass]="'ng-select'"
              [allowClear]="true"
              [options]="dinasOption"
              formControlName="dinas"
              (selected)="onSelectedDinas($event)"
              (deselected)="onDeselectedDinas($event)">
            </ng-select>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('dinas').valid && myForm.get('dinas')">
              * Harus diisi
            </span> -->
            <div *ngIf="dinas?.invalid && (dinas?.dirty || dinas?.touched)">
              <span class="messages text-danger" *ngIf="dinas?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Bidang <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <ng-select
              [ngClass]="'ng-select'"
              [allowClear]="true"
              [options]="bidangOption" 
              formControlName="bidang"
              (selected)="onSelectedBidang($event)"
              (deselected)="onDeselectedBidang($event)">
            </ng-select>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('bidang').valid && myForm.get('bidang')">
              * Harus diisi
            </span> -->
            <div *ngIf="bidang?.invalid && (bidang?.dirty || bidang?.touched)">
              <span class="messages text-danger" *ngIf="bidang?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Seksi <!-- <span class="text-danger">*</span> --></label>
          <div class="col-sm-10">
            <ng-select
              [ngClass]="'ng-select'"
              [allowClear]="true"
              [options]="seksiOption" 
              formControlName="seksi">
            </ng-select>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('seksi').valid && myForm.get('seksi')">
              * Harus diisi
            </span> -->
            <div *ngIf="seksi?.invalid && (seksi?.dirty || seksi?.touched)">
              <span class="messages text-danger" *ngIf="seksi?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Jabatan <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <ng-select
              [ngClass]="'ng-select'"
              [allowClear]="true"
              [options]="jabatanOption" 
              formControlName="jabatan">
            </ng-select>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('jabatan').valid && myForm.get('jabatan')">
              * Harus diisi
            </span> -->
            <div *ngIf="jabatan?.invalid && (jabatan?.dirty || jabatan?.touched)">
              <span class="messages text-danger" *ngIf="jabatan?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Pangkat <!-- <span class="text-danger">*</span> --></label>
          <div class="col-sm-10">
            <ng-select
              [ngClass]="'ng-select'"
              [allowClear]="true"
              [options]="pangkatOption" 
              formControlName="pangkat">
            </ng-select>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('pangkat').valid && myForm.get('pangkat')">
              * Harus diisi
            </span> -->
            <div *ngIf="pangkat?.invalid && (pangkat?.dirty || pangkat?.touched)">
              <span class="messages text-danger" *ngIf="pangkat?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Alamat <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <textarea rows="5" cols="5" class="form-control" placeholder="Alamat" formControlName="alamat"></textarea>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('alamat').valid && myForm.get('alamat')">
              * Harus diisi
            </span> -->
            <div *ngIf="alamat?.invalid && (alamat?.dirty || alamat?.touched)">
              <span class="messages text-danger" *ngIf="alamat?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">No. Telepon <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="No. Telepon" formControlName="no_telp">
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('no_telp').valid && myForm.get('no_telp')">
              * Harus diisi, diisi dengan angka
            </span> -->
            <div *ngIf="no_telp?.invalid && (no_telp?.dirty || no_telp?.touched)">
              <span class="messages text-danger" *ngIf="no_telp?.errors.required">
                Harus diisi
              </span>
              <span class="messages text-danger" *ngIf="no_telp?.errors.pattern">
                Diisi dengan angka
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Keterangan</label>
          <div class="col-sm-10">
            <textarea rows="5" cols="5" class="form-control" placeholder="Keterangan" formControlName="keterangan"></textarea>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('keterangan').valid && myForm.get('keterangan')">
              * Harus diisi
            </span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Autentikasi</h5>
      </div>

      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Role <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <ng-select
              [ngClass]="'ng-select'"
              [allowClear]="true"
              [options]="roleOption" 
              formControlName="role">
            </ng-select>
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('role').valid && myForm.get('role')">
              * Harus diisi
            </span> -->
            <div *ngIf="role?.invalid && (role?.dirty || role?.touched)">
              <span class="messages text-danger" *ngIf="role?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Email" formControlName="email">
            <!-- <span class="messages text-danger" *ngIf="!myForm.get('email').valid && myForm.get('email')">
              * Harus diisi, diisi dengan format email
            </span> -->
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <span class="messages text-danger" *ngIf="email?.errors.required">
                Harus diisi
              </span>
              <span class="messages text-danger" *ngIf="email?.errors.pattern">
                Diisi dengan format email
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Username <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Username" formControlName="username">
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
              <span class="messages text-danger" *ngIf="username?.errors.required">
                Harus diisi
              </span>
              <span class="messages text-danger" *ngIf="username?.errors.minlength">
                Min 5 karakter
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Password <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <show-hide-password size="" icon="fontawesome" style="margin-bottom: 0px;">
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </show-hide-password>
            <span class="messages text-default">
              Kosongkan jika tidak merubah password.
            </span>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <span class="messages text-danger" *ngIf="password?.errors.required">
                Harus diisi
              </span>
              <span class="messages text-danger" *ngIf="password?.errors.minlength">
                Min 6 karakter
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-sm-2 col-form-label">Konfirmasi Password</label>
          <div class="col-sm-10">
            <show-hide-password size="" icon="fontawesome" style="margin-bottom: 0px;">
              <input type="password" class="form-control" placeholder="Konfirmasi Password" formControlName="password_konfirmasi">
            </show-hide-password>
            <span class="messages text-danger" *ngIf="!myForm.get('password_konfirmasi').valid && myForm.get('password_konfirmasi')">
              * Harus diisi, min 6 karakter, password harus sama
            </span>
          </div>
        </div> -->
        <div class="row">
          <div class="offset-md-6 col-sm-3">
            <a [routerLink]="['/user']" class="btn btn-danger btn-md btn-block">
              <i class="icofont icofont-error"></i> Batal
            </a>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!myForm.valid">
              <i class="icofont icofont-diskette"></i> Simpan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
