.widget {
  background-color: rgba(61, 143, 45, 0.05);
  align-items: center;
  border-radius: 2px;
  margin: 0 0px 10px 0;
  padding: 5px 0 5px 9px;
}

.content {
  display:inline;
  max-width: 100%;
}

.remove {
  display:inline;
  float:right;
  margin-right: 10px;
  max-width: 100%;
}

.modal-body {
  padding: 0px;
}

.nav-tabs .nav-link {
    border-top: 5px solid transparent;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #000 #ddd #fff;
}

.tab-content {
  padding: 10px 20px;
}

.drop-zone {
  border-radius: 0px !important;
}

.upload-table {
  margin-top: 20px;
}

.modal {
  overflow-y: auto !important;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.centered-and-cropped { 
  object-fit: cover;
}

.img-evidence {
  position: relative;
  /*max-width: 800px;*/
  margin: 0 auto;
}

.img-evidence img {vertical-align: middle;}

.img-evidence .text-block {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 5px 10px;
}
