<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dinas']">Dinas</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Tambah</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Tambah Dinas</h5>
      </div>
      <div class="card-block">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Pendek</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nama Pendek" formControlName="nama_pendek">
              <span class="messages text-danger" *ngIf="!myForm.get('nama_pendek').valid && myForm.get('nama_pendek')">* Harus diisi</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Panjang</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nama Panjang" formControlName="nama_panjang">
              <span class="messages text-danger" *ngIf="!myForm.get('nama_panjang').valid && myForm.get('nama_panjang')">* Harus diisi</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Alamat</label>
            <div class="col-sm-10">
              <textarea rows="5" cols="5" class="form-control" placeholder="Alamat" formControlName="alamat"></textarea>
              <span class="messages text-danger" *ngIf="!myForm.get('alamat').valid && myForm.get('alamat')">* Harus diisi</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">No. Telp</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="No. Telp" formControlName="notelp">
              <span class="messages text-danger" *ngIf="!myForm.get('notelp').valid && myForm.get('notelp')">* Harus diisi, diisi dengan angka</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" placeholder="Email" [email]="true" formControlName="email">
              <span class="messages text-danger" *ngIf="!myForm.get('email').valid && myForm.get('email')">* Harus diisi, diisi dengan format email.</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Website</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Website" formControlName="website">
              <span class="messages text-danger" *ngIf="!myForm.get('website').valid && myForm.get('website')">* Harus diisi</span>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-6 col-sm-3">
              <a [routerLink]="['/dinas']" class="btn btn-danger btn-md btn-block">
                <i class="icofont icofont-error"></i> Batal
              </a>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!myForm.valid">
                <i class="icofont icofont-diskette"></i> Simpan
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
