<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/kegiatan']">Kegiatan</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Tambah</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Tambah Kegiatan</h5>
      </div>
      <div class="card-block">
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tanggal <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <div class="input-group" style="margin-bottom: 0px;">
              <input
                class="form-control"
                placeholder="Tanggal"
                name="dp" 
                formControlName="tanggal"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="!completed && d.toggle(); $event.stopPropagation();"
                (document:click)="closeFix($event, d)"
                [minDate]="tanggalMinPicker"
                readonly>
              <div class="input-group-addon bg-default" (click)="!completed && d.toggle(); $event.stopPropagation();">
                <span class="icofont icofont-ui-calendar"></span>
              </div>
              <div *ngIf="tanggal?.invalid && (tanggal?.dirty || tanggal?.touched)">
                <span class="messages text-danger" *ngIf="tanggal?.errors.required">
                  Harus diisi
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Kegiatan <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Kegiatan" formControlName="nama_kegiatan">
            <div *ngIf="nama_kegiatan?.invalid && (nama_kegiatan?.dirty || nama_kegiatan?.touched)">
              <span class="messages text-danger" *ngIf="nama_kegiatan?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tempat <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Tempat" formControlName="tempat">
            <div *ngIf="tempat?.invalid && (tempat?.dirty || tempat?.touched)">
              <span class="messages text-danger" *ngIf="tempat?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Penyelenggara <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Penyelenggara" formControlName="penyelenggara">
            <div *ngIf="penyelenggara?.invalid && (penyelenggara?.dirty || penyelenggara?.touched)">
              <span class="messages text-danger" *ngIf="penyelenggara?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Trigger</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Trigger" formControlName="trigger">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tugas Pokok <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <ui-switch
              class="js-single"
              color="#1abc9c"
              switchColor="#fff"
              on="t"
              off="f"
              formControlName="is_tugas_pokok">
            </ui-switch>
            <div *ngIf="is_tugas_pokok?.invalid && (is_tugas_pokok?.dirty || is_tugas_pokok?.touched)">
              <span class="messages text-danger" *ngIf="is_tugas_pokok?.errors.required">
                Harus diisi
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Keterangan</h5>
      </div>
      <div class="card-block">
        <div class="form-group">
          <label>Keterangan <span class="text-danger">*</span></label>
          <div [froalaEditor]="{heightMin:275}" formControlName="keterangan"></div>
          <div *ngIf="keterangan?.invalid && (keterangan?.dirty || keterangan?.touched)">
            <span class="messages text-danger" *ngIf="keterangan?.errors.required">
              Harus diisi
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Evidence</h5>
      </div>
      <div class="card-block">
        <div class="form-group">
          <label>Evidence</label><br/>
          <button type="button" class="btn btn-sm btn-primary waves-effect" (click)="modalLarge.show()">Tambah Foto</button>
        </div>
        
        <div class="row">
          <ng-container formArrayName="upload_gambar" *ngFor="let row of myForm.get('upload_gambar').controls; let i = index;">
            <ng-container [formGroupName]="i">
              <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" readonly formControlName="name">
                    <div class="input-group-append">
                      <button 
                        class="btn btn-danger" 
                        type="button" 
                        style="border-radius: 0px;" 
                        (click)="removeFieldValueUploadGambar(i)">
                        <span class="icofont icofont-ui-close"></span>
                      </button>
                    </div>
                  </div>
                  <input class="form-control" type="hidden" formControlName="value" />
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div class="row">
          <div class="offset-md-6 col-sm-3">
            <a [routerLink]="['/kegiatan']" class="btn btn-danger btn-md btn-block">
              <i class="icofont icofont-error"></i> Batal
            </a>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!myForm.valid">
              <i class="icofont icofont-diskette"></i> Simpan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
</form>

<app-modal-basic #modalLarge [dialogClass]="'modal-xl'">
  <div class="app-modal-header">
    <h4 class="modal-title">Tambah Foto</h4>
    <button type="button" class="close basic-close" (click)="clearUploadGambar(); modalLarge.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <ngb-tabset>
      <ngb-tab title="Upload">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">

            <div class="row">
              <div class="col-md-12">
                <file-drop 
                  headertext="Drop files here" 
                  (onFileDrop)="dropped($event)" 
                  (onFileOver)="fileOver($event)" 
                  (onFileLeave)="fileLeave($event)">
                </file-drop>
              </div>
              
              <div class="col-md-12 text-center" style="padding: 10px;">
                -- or --
              </div>
              
              <div class="col-md-12 text-center">
                <input type="file" id="file" class="form-control" multiple (change)="droppedMultiple($event)">
              </div>
            </div>

            <div class="upload-table">
                <table class="table table-bordered" style="font-size: 10px;">
                    <thead>
                        <tr>
                            <th width="10%" class="text-center">#</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody class="upload-name-style">
                      <tr *ngFor="let item of fileUploads; let i=index">
                        <td class="text-center">
                          <input 
                            type="checkbox" 
                            name="fu" 
                            value="{{item.value}}" 
                            (change)="addFieldValueUploadGambar(item.value, item.name, $event.target.checked)"/>
                          </td>
                        <td>
                          <strong>
                            <a href="{{item.path}}" target="_blank" style="font-size: 11px;">
                              {{ item.name }}
                            </a>
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>

          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Foto Saya">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            
            <div class="row">
              <div class="col-md-3" *ngFor="let item of fileSayas; let i=index">
                <div class="card card-border-primary">
                  <div class="img-evidence">
                    <a href="{{item.path}}" target="_blank">
                      <img src="{{item.path}}" 
                        class="card-img-top centered-and-cropped"
                        width="150" height="150" >
                    </a>
                    <div class="text-block">
                      <p style="margin-bottom: 5px; margin-top: 5px; font-size: 11px;">
                        {{item.tanggal}}
                      </p>
                    </div>
                  </div>
                  <div class="card-block text-center" style="border: 1px solid lightgray; padding: 5px;">
                    <input 
                      type="checkbox" 
                      name="fs" 
                      value="{{item.value}}"
                      (change)="addFieldValueUploadGambar(item.value, item.name, $event.target.checked)">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-sm btn-default waves-effect" (click)="loadmoreSaya();">Load more ..</button>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Publik">
        <ng-template ngbTabContent>
          <div [@fadeInOutTranslate] class="m-t-15">
            
            <div class="row">
              <div class="col-md-3" *ngFor="let item of filePubliks; let i=index">
                <div class="card card-border-primary">
                  <div class="img-evidence">
                    <a href="{{item.path}}" target="_blank">
                      <img src="{{item.path}}" 
                        class="card-img-top centered-and-cropped"
                        width="150" height="150" >
                    </a>
                    <div class="text-block">
                      <p style="margin-bottom: 5px; margin-top: 5px; font-size: 11px;">
                        <ng-container *ngIf="item.tag">{{item.tag}} <br></ng-container>
                        <ng-container *ngIf="item.nama_telegram">{{item.nama_telegram}} <br></ng-container>
                        {{item.tanggal}}
                      </p>
                    </div>
                  </div>
                  <div class="card-block text-center" style="border: 1px solid lightgray; padding: 5px;">
                    <input 
                      type="checkbox" 
                      name="fp" 
                      value="{{item.value}}"
                      (change)="addFieldValueUploadGambar(item.value, item.name, $event.target.checked)">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-sm btn-default waves-effect" (click)="loadmorePublik();">Load more ..</button>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="app-modal-footer">
    <!-- <button type="button" class="btn btn-default waves-effect" (click)="clearUploadGambar(); modalLarge.hide();">Batal</button> -->
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="clearUploadGambar(); modalLarge.hide();">Pilih</button>
  </div>
</app-modal-basic>
