<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/evidence']">Evidence</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">List</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary table-border-style">
      <div class="card-header">
        <h5>List Evidence</h5>
      </div>
      <div class="card-block">

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-3">
            <div class="form-group" style="margin-bottom: 0em;">
              <label class="col-form-label">&nbsp;</label>
              <button type="button" class="btn btn-primary btn-block waves-effect text-center" (click)="modalLarge.show()">
                <i class="icofont icofont-plus"></i>Tambah Evidence
              </button>
            </div>
          </div>
          <div class="col-md-3 offset-md-3">
            <div class="form-group" style="margin-bottom: 0em;">
              <label class="col-form-label">&nbsp;</label>
              <select class="form-control" placeholder="Pencarian" #t
                (change)="onSelectedPencarian(t.value)"
                style="height: 40px;">
                <option value="">-- Pilih Pencarian --</option>
                <option *ngFor="let row of pencarianOption" value={{row.value}}>
                  {{row.label}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" style="margin-bottom: 0em;" *ngIf="this.pencarianInput === true; else inpBlock">
              <label class="col-form-label">&nbsp;</label>
              <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian Evidence' 
                [readonly]="this.pencarianInput" 
                style="height: 40px;"/>
            </div>
            <ng-template #inpBlock>
              <div class="form-group" style="margin-bottom: 0em;" *ngIf="this.pencarianType == 'nama'; else typBlock">
                <label class="col-form-label">&nbsp;</label>
                <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian Evidence' 
                  (keyup)='updateFilter($event)' 
                  [readonly]="this.pencarianInput" 
                  style="height: 40px;"/>
              </div>
              <ng-template #typBlock>
                <div class="form-group" style="margin-bottom: 0em;">
                  <label class="col-form-label">&nbsp;</label>
                  <select class="form-control" placeholder="Pencarian" #e
                    (change)="updateFilter(e.value)"
                    style="height: 40px;">
                    <option value="">-- Pilih Tipe --</option>
                    <option value="t">Publik</option>
                    <option value="f">Non Publik</option>
                  </select>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3" *ngFor="let item of rowsFilter; let i=index">
            <div class="card card-border-primary">
              <a href="{{item.path}}" target="_blank">
                <img src="{{item.path}}" 
                  class="card-img-top centered-and-cropped"
                  width="150" height="150" >
              </a>
              <div class="card-block" style="border: 1px solid lightgray; padding: 5px;">
                <div class="text-left">
                  <a href="{{item.path}}" target="_blank" title="{{item.nama}}">
                    {{ item.nama.slice(0, 20) }}
                  </a>
                </div>
                <div class="text-right">
                  <button 
                    type="button" 
                    class="btn btn-link btn-sm waves-effect waves-light" 
                    (click)="showPublic($event, item, true)"
                    *ngIf="item.is_public; else pblc"
                    title="Public">
                    <i class="fa fa-eye" style="margin-right: 0px;"></i>
                  </button>
                  <ng-template #pblc>
                    <button 
                      type="button" 
                      class="btn btn-link btn-sm waves-effect waves-light" 
                      (click)="showPublic($event, item, false)"
                      title="Non-public">
                      <i class="fa fa-eye-slash" style="margin-right: 0px;"></i>
                    </button>
                  </ng-template>
                  <button type="button" class="btn btn-link btn-sm waves-effect waves-light" (click)="showDelete($event, item)">
                    <i class="icofont icofont-trash" style="margin-right: 0px;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-sm btn-default waves-effect" (click)="loadmoreFilter();">Load more ..</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic #modalLarge [dialogClass]="'modal-xl'">
  <div class="app-modal-header">
    <h4 class="modal-title">Tambah Foto</h4>
    <button type="button" class="close basic-close" (click)="clearUploadGambar(); modalLarge.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-12">
        <file-drop 
          headertext="Drop files here" 
          (onFileDrop)="dropped($event)" 
          (onFileOver)="fileOver($event)" 
          (onFileLeave)="fileLeave($event)">
        </file-drop>
      </div>
      
      <div class="col-md-12 text-center" style="padding: 10px;">
        -- or --
      </div>
      
      <div class="col-md-12 text-center">
        <input type="file" id="file" class="form-control" multiple (change)="droppedMultiple($event)">
      </div>
    </div>

    <div class="upload-table">
      <table class="table table-bordered" style="font-size: 10px;">
        <thead>
          <tr>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          <tr *ngFor="let item of fileUploads; let i=index">
            <td>
              <strong>
                <a href="{{item.path}}" target="_blank" style="font-size: 11px;">
                  {{ item.name }}
                </a>
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="clearUploadGambar(); modalLarge.hide();">Pilih</button>
  </div>
</app-modal-basic>
