<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" pcoded-header-position="fixed" header-theme="theme4" style="">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme5">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <img class="img-fluid" src="assets/images/logo_new.png" alt="Theme-Logo" style="width: 80%;" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
              </li>
              <!-- <li>
                <a href="javascript:;" appToggleFullscreen>
                  <i class="ti-fullscreen"></i>
                </a>
              </li> -->
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              <!-- <li class="header-notification">
                <a href="javascript:;">
                  <i class="ti-bell"></i>
                  <span class="badge">5</span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>Notifications</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">John Doe</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Joseph William</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Sara Soudein</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li> -->
              <li class="user-profile header-notification">
                <a [routerLink]="['/']">
                  <img src="assets/images/user.png" alt="User-Profile-Image">
                  <span>@{{ username }}</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a [routerLink]="['/profile']">
                      <i class="ti-user"></i> Profil
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/auth/logout']">
                      <i class="ti-layout-sidebar-left"></i> Keluar
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- rightbar chat start -->
    <div [@slideInOut]="chatToggle" id="sidebar" class="users p-chat-user">
        <div class="had-container">
          <div class="card card_main p-fixed users-main">
            <div class="user-box">
              <div class="card-body">
                <div class="right-icon-control">
                  <input type="text" class="form-control search-text" placeholder="Search Friend" id="search-friends" #searchFriends (keyup)="searchFriendList($event)">
                  <div class="form-icon">
                    <i class="icofont icofont-search"></i>
                  </div>
                </div>

              </div>
                <div slimScroll class="main-friend-list scroll-window" width="100%" height="100%" size="7px" color="rgb(27, 139, 249)" opacity="0.4">
                  <div (click)="toggleChatInner()" class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                    <a class="media-left" href="javascript:;">
                      <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                      <div class="live-status bg-success"></div>
                    </a>
                    <div class="media-body">
                      <div class="f-13 chat-header">Josephin Doe</div>
                    </div>
                  </div>
                  <div (click)="toggleChatInner()" class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                    <a class="media-left" href="javascript:;">
                      <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
                      <div class="live-status bg-success"></div>
                    </a>
                    <div class="media-body">
                      <div class="f-13 chat-header">Lary Doe</div>
                    </div>
                  </div>
                  <div (click)="toggleChatInner()" class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                    <a class="media-left" href="javascript:;">
                      <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                      <div class="live-status bg-success"></div>
                    </a>
                    <div class="media-body">
                      <div class="f-13 chat-header">Alice</div>
                    </div>
                  </div>
                  <div (click)="toggleChatInner()" class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                    <a class="media-left" href="javascript:;">
                      <img class="media-object img-circle" src="assets/images/task/task-u2.jpg" alt="Generic placeholder image">
                      <div class="live-status bg-success"></div>
                    </a>
                    <div class="media-body">
                      <div class="f-13 chat-header">Alia</div>
                    </div>
                  </div>
                  <div (click)="toggleChatInner()" class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                    <a class="media-left" href="javascript:;">
                      <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                      <div class="live-status bg-success"></div>
                    </a>
                    <div class="media-body">
                      <div class="f-13 chat-header">Suzen</div>
                    </div>
                  </div>
                  <div (click)="toggleChatInner()" class="media userlist-box" data-id="6" data-status="offline" data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
                    <a class="media-left" href="javascript:;">
                      <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                      <div class="live-status bg-danger"></div>
                    </a>
                    <div class="media-body">
                      <div class="f-13 chat-header">Michael Scofield</div>
                    </div>
                  </div>
                  <div (click)="toggleChatInner()" class="media userlist-box" data-id="7" data-status="online" data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
                    <a class="media-left" href="javascript:;">
                      <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
                      <div class="live-status bg-success"></div>
                    </a>
                    <div class="media-body">
                      <div class="f-13 chat-header">Irina Shayk</div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <!-- rightbar inner chat start-->
    <div [@slideOnOff]="chatInnerToggle" class="card card_main showChat_inner">
      <div class="media chat-inner-header">
        <a class="back_chatBox" (click)="toggleChatInner()">
          <i class="icofont icofont-rounded-left"></i> Josephin Doe
        </a>
      </div>
      <div class="media chat-messages">
        <a class="media-left photo-table" href="javascript:;">
          <img class="media-object img-circle m-t-5" src="assets/images/avatar-1.png" alt="Generic placeholder image">
        </a>
        <div class="media-body chat-menu-content">
          <div class="">
            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
            <p class="chat-time">8:20 a.m.</p>
          </div>
        </div>
      </div>
      <div class="media chat-messages">
        <div class="media-body chat-menu-reply">
          <div class="">
            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
            <p class="chat-time">8:20 a.m.</p>
          </div>
        </div>
        <div class="media-right photo-table">
          <a href="javascript:;">
            <img class="media-object img-circle m-t-5" src="assets/images/avatar-2.png" alt="Generic placeholder image">
          </a>
        </div>
      </div>
      <div class="chat-reply-box p-b-20">
        <div class="right-icon-control">
          <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
          <div class="form-icon">
            <i class="icofont icofont-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- rightbar inner chat end-->
    <!-- rightbar chat end-->
    <div class="pcoded-main-container" style="margin-top: 56px;">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="4px" color="#fff" opacity="0.3" allowPageScroll="false">
            <!-- <div class="">
              <div class="main-menu-header">
                <img class="img-40" src="assets/images/user.png" alt="User-Profile-Image">
                <div class="user-details">
                  <span>John Doe</span>
                  <span id="more-details" (click)="toggleOpenedSidebar()">UX Designer<i class="ti-angle-down"></i></span>
                </div>
              </div>

              <div class="main-menu-content">
                <ul>
                  <li [@mobileMenuTop]="isCollapsedSideBar" class="more-details" [ngClass]="isCollapsedSideBar">
                    <a [routerLink]="['/user/profile']"><i class="ti-user"></i>Profil</a>
                    <a [routerLink]="['/crm-contact']"><i class="ti-settings"></i>Pengaturan</a>
                    <a [routerLink]="['/authentication/login/with-bg-image']"><i class="ti-layout-sidebar-left"></i>Keluar</a>
                  </li>
                </ul>
              </div>  
            </div> -->
            <div style="margin-bottom: 100px;">
  
            <!-- menu admin -->
            <!-- <div *ngIf="session.getRole() === 'admin'">   -->
            <div *ngFor="let asideItems of menu">
              
              <div *ngIf="asideItems.display === true" class="pcoded-navigatio-lavel" menu-title-theme="theme5">
                {{asideItems.label}}
              </div>

              <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" appAccordionLink subitem-border="solid" *ngFor="let asideItem of asideItems.main" group="{{asideItem.state}}">
                
                <!-- EXTERNAL -->
                <li [routerLinkActive]="['active']" appAccordionLink *ngIf="asideItem.type === 'external'" group="{{asideItem.state}}">
                  <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                    <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                </li>

                <!-- LINK -->
                <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}">
                  <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle *ngIf="asideItem.main_state; else: mainContent">
                    <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ng-template #mainContent>
                    <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </ng-template>
                </li>

                <!-- SUB -->
                <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="{{asideItem.state}}">
                  <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                    <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                    <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                      <a [routerLink]="['/', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext">{{ asideChildren.name }} </span>
                        <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>

                    <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" *ngIf="asideChildren.type === 'sub'" appAccordionLink group="sub-toggled">
                      <a href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                        <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                        <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu">
                        <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                          <li [routerLinkActive]="['active']" >
                            <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                              <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                              <span class="pcoded-mcaret"></span>
                            </a>
                          </li>
                        </ng-template>
                      </ul>
                    </li>
                    </ng-template>
                  </ul>
                </li>

              </ul>

            </div>
            <!-- </div> -->

            </div>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <!-- <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs> -->
                <div class="page-body">
                  <router-outlet><spinner></spinner></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
