<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/bidang']">Bidang</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Detail</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Detail Bidang</h5>
      </div>
      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Dinas :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataDinas.nama_pendek }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nama Pendek:</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataBidang.nama_pendek }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nama Panjang:</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataBidang.nama_panjang }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email :</label>
          <div class="col-sm-10" style="margin-top: 5px;">
            {{ dataBidang.email }}
          </div>
        </div>
        <div class="row">
          <div class="offset-md-9 col-sm-3">
            <a [routerLink]="['/bidang']" class="btn btn-danger btn-md btn-block">
              <i class="icofont icofont-error"></i> Kembali
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
