<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">

  <!-- <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card table-card widget-success-card automobile" style="border-radius: 10px; height: 60px; background-color: #23038e;">
      <div class="row-table" style="border-radius: 10px; height: 60px;">
        <div class="col-md-4 col-xl-4 col-sm-6 card-block" style="border-radius: 10px 0px 0px 10px; height: 60px; background-color: #000000; " >
          <h5 style="color: white; font-size: 20pt; margin-top: -5px;">123</h5>
        </div>
        <div class="col-md-8 col-xl-8 col-sm-6" style="border-radius: 0px 10px 10px 0px; height: 60px; background-color: #1786CD;">
          <h5 style="color: white; position: relative; top: 50%; transform: translateY(-50%);">Jumlah User</h5>
        </div>
      </div>
    </div>
  </div> -->

  <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card table-card widget-success-card automobile" style="border-radius: 10px; height: 60px; background-color: #23038e;">
      <div class="row-table" style="border-radius: 10px; height: 60px;">
        <div class="col-md-4 col-xl-4 col-sm-6 card-block" style="border-radius: 10px 0px 0px 10px; height: 60px; background-color: #000000; " >
          <h5 style="color: white; font-size: 20pt; margin-top: -5px;">{{ jumlah_kegiatan }}</h5>
        </div>
        <div class="col-md-8 col-xl-8 col-sm-6 text-center" style="border-radius: 0px 10px 10px 0px; height: 60px; background-color: #1786CD;">
          <h5 style="color: white; position: relative; top: 50%; transform: translateY(-50%);">Jumlah Kegiatan</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card table-card widget-success-card automobile" style="border-radius: 10px; height: 60px; background-color: #23038e;">
      <div class="row-table" style="border-radius: 10px; height: 60px;">
        <div class="col-md-4 col-xl-4 col-sm-6 card-block" style="border-radius: 10px 0px 0px 10px; height: 60px; background-color: #000000; " >
          <h5 style="color: white; font-size: 20pt; margin-top: -5px;">{{ jumlah_evidence }}</h5>
        </div>
        <div class="col-md-8 col-xl-8 col-sm-6 text-center" style="border-radius: 0px 10px 10px 0px; height: 60px; background-color: #1786CD;">
          <h5 style="color: white; position: relative; top: 50%; transform: translateY(-50%);">Jumlah Evidence</h5>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-xl-7">
    <div class="card card-border-primary table-border-style">
      <div class="card-header">
        <h5>Jumlah Kegiatan & Evidence</h5>
      </div>
      <div class="card-block">
        <ng-container *ngIf="finish_loading === true">
          <chart [type]="typeBar" [data]="dataBar" [options]="optionsBar" style="width: 100%; height: 300px;"></chart>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-xl-5">
    <div class="card card-border-primary table-border-style">
      <div class="card-header">
        <h5>Tingkat Penyelesaian Laporan</h5>
      </div>
      <div class="card-block">
        <ng-container *ngIf="finish_loading === true">
          <chart [type]="typePie" [data]="dataPie" [options]="optionsPie" style="width: 100%; height: 300px;"></chart>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="card card-border-primary table-border-style">
      <div class="card-header">
        <h5>Timeline Penulisan Laporan (Dalam 1 Bulan)</h5>
      </div>
      <div class="card-block">
        <ng-container *ngIf="finish_loading === true">
          <chart [type]="typeLine" [data]="dataLine" [options]="optionsLine" style="width: 100%; height: 300px;"></chart>
        </ng-container>
      </div>
    </div>
  </div>

</div>
