<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/pangkat']">Pangkat</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">List</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary table-border-style">
      <div class="card-header">
        <h5>List Pangkat</h5>
      </div>
      <div class="card-block">

        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-3">
            <div class="form-group" style="margin-bottom: 0em;">
              <label class="col-form-label">&nbsp;</label>
              <a [routerLink]="['/pangkat/add']" class="btn btn-primary btn-block waves-effect text-center">
                <i class="icofont icofont-plus"></i> Tambah Pangkat
              </a>
            </div>
          </div>
          <div class="col-md-3 offset-md-3">
            <div class="form-group" style="margin-bottom: 0em;">
              <label class="col-form-label">&nbsp;</label>
              <select class="form-control" placeholder="Pencarian" #t
                (change)="onSelectedPencarian(t.value)"
                style="height: 40px;">
                <option value="">-- Pilih Pencarian --</option>
                <option *ngFor="let row of pencarianOption" value={{row.value}}>
                  {{row.label}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" style="margin-bottom: 0em;">
              <label class="col-form-label">&nbsp;</label>
              <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian Pangkat' 
                (keyup)='updateFilter($event)' 
                [readonly]="this.pencarianInput" 
                style="height: 40px;"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              
              <ngx-datatable
                  #table
                  class='data-table'
                  [columns]="columns"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="50"
                  [scrollbarH]="true"
                  [limit]='limit'
                  [rows]='rowsFilter'
                  [messages]="messages"
                  [sorts]="[{prop: 'no', dir: 'asc'}]" >
                  <ngx-datatable-column
                      name="No"
                      [width]="5"
                      [resizeable]="true"
                      [sortable]="true"
                      [draggable]="true"
                      [canAutoResize]="true">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          <strong> {{rowsFilter.indexOf(row)+1}}</strong>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                      name="Nama"
                      [width]="200">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row['nama']}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                      name="Keterangan "
                      [width]="100" >
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row['keterangan']}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                      [width]="100"
                      [sortable]="false">
                      <ng-template ngx-datatable-header-template>
                          <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; text-align: center; margin-top: 10px;">
                              <span>Aksi</span>
                          </div>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template >
                          <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; text-align: center;">

                            <a [routerLink]="['/pangkat/detail', row.id]" class="btn btn-info btn-mini waves-effect waves-light">
                              <i class="icofont icofont-search" style="margin-right: 0px;"></i>
                            </a>
                            <a [routerLink]="['/pangkat/edit', row.id]" class="btn btn-warning btn-mini waves-effect waves-light">
                              <i class="icofont icofont-pencil-alt-2" style="margin-right: 0px;"></i>
                            </a>
                            <button type="button" (click)="showDelete($event, row)" class="btn btn-danger btn-mini waves-effect waves-light">
                              <i class="icofont icofont-trash" style="margin-right: 0px;"></i>
                            </button>

                          </div>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-footer>
                      <ng-template
                          ngx-datatable-footer-template
                          let-rowCount="rowCount"
                          let-pageSize="pageSize"
                          let-selectedCount="selectedCount"
                          let-curPage="curPage"
                          let-offset="offset"
                          let-isVisible="isVisible">

                          <span>Tampilkan </span>&nbsp;&nbsp;
                          <select (change)="onLimitChange($event.target.value)" >
                              <option
                                  *ngFor="let option of pageLimitOptions"
                                  [value]="option.value"
                                  [selected]="option.value == currentPageLimit">
                                  {{ option.value }}
                              </option>
                          </select>
                          <span style="width: 100px; min-width: 100px;">&nbsp;&nbsp; baris, dari </span>
                          <span>{{rowCount.toLocaleString()}} {{totalMessage}}</span>


                          <datatable-pager
                              [pagerLeftArrowIcon]="'datatable-icon-left'"
                              [pagerRightArrowIcon]="'datatable-icon-right'"
                              [pagerPreviousIcon]="'datatable-icon-prev'"
                              [pagerNextIcon]="'datatable-icon-skip'"
                              [page]="curPage"
                              [size]="pageSize"
                              [count]="rowCount"
                              [hidden]="!((rowCount / pageSize) > 1)"
                              (change)="table.onFooterPage($event)">
                          </datatable-pager>
                      </ng-template>
                  </ngx-datatable-footer>
              </ngx-datatable>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
