.modal-body {
  padding: 0px;
}

.drop-zone {
  border-radius: 0px !important;
}

.upload-table {
  margin-top: 20px;
}

.modal {
  overflow-y: auto !important;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.centered-and-cropped { 
  object-fit: cover;
}
