<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="page-header-breadcrumb" style="float: left">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard']"><i class="icofont icofont-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/profile']">Profile</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="not-active">Ubah</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <br>
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Ubah Profil</h5>
      </div>
      <div class="card-block">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nama" formControlName="nama">
              <div *ngIf="nama?.invalid && (nama?.dirty || nama?.touched)">
                <span class="messages text-danger" *ngIf="nama?.errors.required">
                  Harus diisi
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Jenis Kelamin <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <div class="form-radio">
                <div class="radio">
                  <label>
                    <input type="radio" name="radio" formControlName="jenis_kelamin" value="L" name="jenis_kelamin">
                    <i class="helper"></i>Laki-laki
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="radio" formControlName="jenis_kelamin" value="P" name="jenis_kelamin">
                    <i class="helper"></i>Perempuan
                  </label>
                </div>
              </div>
              <div *ngIf="jenis_kelamin?.invalid && (jenis_kelamin?.dirty || jenis_kelamin?.touched)">
                <span class="messages text-danger" *ngIf="jenis_kelamin?.errors.required">
                  Harus diisi
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tempat Lahir <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Tempat Lahir" formControlName="tempat_lahir">
              <div *ngIf="tempat_lahir?.invalid && (tempat_lahir?.dirty || tempat_lahir?.touched)">
                <span class="messages text-danger" *ngIf="tempat_lahir?.errors.required">
                  Harus diisi
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tanggal Lahir <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <div class="input-group" style="margin-bottom: 0px;">
                <input
                  class="form-control"
                  placeholder="Tanggal"
                  name="dp" 
                  formControlName="tanggal_lahir"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  (click)="!completed && d.toggle(); $event.stopPropagation();"
                  (document:click)="closeFix($event, d)"
                  [minDate]="lahirMinPicker"
                  [maxDate]="lahirMaxPicker"
                  readonly>
                <div class="input-group-addon bg-default" (click)="!completed && d.toggle(); $event.stopPropagation();">
                  <span class="icofont icofont-ui-calendar"></span>
                </div>
              </div>
              <div *ngIf="tanggal_lahir?.invalid && (tanggal_lahir?.dirty || tanggal_lahir?.touched)">
                <span class="messages text-danger" *ngIf="tanggal_lahir?.errors.required">
                  Harus diisi
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Alamat <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <textarea rows="5" cols="5" class="form-control" placeholder="Alamat" formControlName="alamat"></textarea>
              <div *ngIf="alamat?.invalid && (alamat?.dirty || alamat?.touched)">
                <span class="messages text-danger" *ngIf="alamat?.errors.required">
                  Harus diisi
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">No. Telepon <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="No. Telepon" formControlName="no_telp">
              <div *ngIf="no_telp?.invalid && (no_telp?.dirty || no_telp?.touched)">
                <span class="messages text-danger" *ngIf="no_telp?.errors.required">
                  Harus diisi
                </span>
                <span class="messages text-danger" *ngIf="no_telp?.errors.pattern">
                  Diisi dengan angka
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Email" formControlName="email">
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <span class="messages text-danger" *ngIf="email?.errors.required">
                  Harus diisi
                </span>
                <span class="messages text-danger" *ngIf="email?.errors.pattern">
                  Diisi dengan format email
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Username <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Username" formControlName="username">
              <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                <span class="messages text-danger" *ngIf="username?.errors.required">
                  Harus diisi
                </span>
                <span class="messages text-danger" *ngIf="username?.errors.minlength">
                  Min 5 karakter
                </span>
                <span class="messages text-danger" *ngIf="username?.errors.usernameExists">
                  Sudah ada
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <show-hide-password size="" icon="fontawesome" style="margin-bottom: 0px;">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
              </show-hide-password>
              <span class="messages text-default">
                Kosongkan jika tidak merubah password.
              </span>
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <span class="messages text-danger" *ngIf="password?.errors.required">
                  Harus diisi
                </span>
                <span class="messages text-danger" *ngIf="password?.errors.minlength">
                  Min 6 karakter
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-6 col-sm-3">
              <a [routerLink]="['/profile']" class="btn btn-danger btn-md btn-block">
                <i class="icofont icofont-error"></i> Batal
              </a>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!myForm.valid">
                <i class="icofont icofont-diskette"></i> Simpan
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
