<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="card card-border-primary table-border-style simple-cards">
  <div class="row users-card">
    <div class="col-lg-12">
      <div class="card user-card">
        <div class="card-header-img">
          <h4 style="margin-top: 10px;">{{ dataUser.nama }}</h4>
          <h6>{{ dataUser.email }}</h6>
          <h6>{{ dataJabatan.nama }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()"> -->
<div class="card">
  <div class="card-header">
    <h5 class="card-header-text">Profil</h5>

    <!-- <button 
      id="edit-info-btn" 
      type="button" 
      class="btn btn-mini btn-warning waves-effect waves-light f-right" 
      (click)="buttonUbah()"
      style="padding: 3px 10px;"
      *ngIf="!editProfile">
      <i class="icofont icofont-pencil-alt-2" style="margin-right: 0px;"></i>
    </button> -->

    <a [routerLink]="['/profile/edit']" class="btn btn-mini btn-warning waves-effect waves-light f-right"
      style="padding: 3px 10px;">
      <i class="icofont icofont-pencil-alt-2" style="margin-right: 0px;"></i>
    </a>
    
    <!-- <div class="f-right" *ngIf="editProfile">
      <button 
        id="cancel-info-btn" 
        type="button" 
        class="btn btn-mini btn-danger waves-effect waves-light" 
        (click)="buttonBatal()"
        style="padding: 3px 10px;">
        <i class="icofont icofont-error" style="margin-right: 0px;"></i>
      </button>
      &nbsp;
      <button 
        id="save-info-btn" 
        type="submit"
        class="btn btn-mini btn-success waves-effect waves-light" 
        style="padding: 3px 10px;"
        [disabled]="!myForm.valid">
        <i class="icofont icofont-diskette" style="margin-right: 0px;"></i>
      </button>
    </div> -->

  </div>

  <div class="card-body" *ngIf="!editProfile">
    <div class="view-info">
      <div class="row">
        <div class="col-lg-12">
          <div class="general-info">
            <div class="row">
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th scope="row" width="25%">Username</th>
                        <td width="2%">:</td>
                        <td>{{ dataUser.username }}</td>
                      </tr>
                      <tr>
                        <th scope="row" width="25%">NIP</th>
                        <td width="2%">:</td>
                        <td>{{ dataUser.nip }}</td>
                      </tr>
                      <tr>
                        <th scope="row" width="25%">Kode</th>
                        <td width="2%">:</td>
                        <td>{{ dataUser.kode_karyawan }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Jenis Kelamin</th>
                        <td>:</td>
                        <td *ngIf="dataUser.jenis_kelamin == 'L'; else jenkel">Laki-laki</td>
                          <ng-template #jenkel>
                            <td>Perempuan</td>
                          </ng-template>
                      </tr>
                      <tr>
                        <th scope="row">Tempat Lahir</th>
                        <td>:</td>
                        <td>{{ dataUser.tempat_lahir }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Tanggal Lahir</th>
                        <td>:</td>
                        <td>{{ convert.formatDateYMD(dataUser.tanggal_lahir) }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th scope="row" width="25%">Dinas</th>
                        <td width="2%">:</td>
                        <td>{{ dataDinas.nama_pendek }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Bidang</th>
                        <td>:</td>
                        <td>{{ dataBidang.nama_pendek }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Seksi</th>
                        <td>:</td>
                        <td>{{ dataSeksi.nama_pendek }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Pangkat</th>
                        <td>:</td>
                        <td>{{ dataPangkat.nama }}</td>
                      </tr>
                      <tr>
                        <th scope="row">No. Telepon</th>
                        <td>:</td>
                        <td>{{ dataUser.no_telp }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Alamat</th>
                        <td>:</td>
                        <td>{{ dataUser.alamat }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card-block" *ngIf="editProfile">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nama <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nama" formControlName="nama">
        <div *ngIf="nama?.invalid && (nama?.dirty || nama?.touched)">
          <span class="messages text-danger" *ngIf="nama?.errors.required">
            Harus diisi
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Jenis Kelamin <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <div class="form-radio">
          <div class="radio">
            <label>
              <input type="radio" name="radio" formControlName="jenis_kelamin" value="L" name="jenis_kelamin">
              <i class="helper"></i>Laki-laki
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="radio" formControlName="jenis_kelamin" value="P" name="jenis_kelamin">
              <i class="helper"></i>Perempuan
            </label>
          </div>
        </div>
        <div *ngIf="jenis_kelamin?.invalid && (jenis_kelamin?.dirty || jenis_kelamin?.touched)">
          <span class="messages text-danger" *ngIf="jenis_kelamin?.errors.required">
            Harus diisi
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tempat Lahir <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Tempat Lahir" formControlName="tempat_lahir">
        <div *ngIf="tempat_lahir?.invalid && (tempat_lahir?.dirty || tempat_lahir?.touched)">
          <span class="messages text-danger" *ngIf="tempat_lahir?.errors.required">
            Harus diisi
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tanggal Lahir <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <div class="input-group" style="margin-bottom: 0px;">
          <input
            class="form-control"
            placeholder="Tanggal"
            name="dp" 
            formControlName="tanggal_lahir"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="!completed && d.toggle(); $event.stopPropagation();"
            (document:click)="closeFix($event, d)"
            [minDate]="lahirMinPicker"
            [maxDate]="lahirMaxPicker"
            readonly>
          <div class="input-group-addon bg-default" (click)="!completed && d.toggle(); $event.stopPropagation();">
            <span class="icofont icofont-ui-calendar"></span>
          </div>
        </div>
        <div *ngIf="tanggal_lahir?.invalid && (tanggal_lahir?.dirty || tanggal_lahir?.touched)">
          <span class="messages text-danger" *ngIf="tanggal_lahir?.errors.required">
            Harus diisi
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Alamat <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <textarea rows="5" cols="5" class="form-control" placeholder="Alamat" formControlName="alamat"></textarea>
        <div *ngIf="alamat?.invalid && (alamat?.dirty || alamat?.touched)">
          <span class="messages text-danger" *ngIf="alamat?.errors.required">
            Harus diisi
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">No. Telepon <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="No. Telepon" formControlName="no_telp">
        <div *ngIf="no_telp?.invalid && (no_telp?.dirty || no_telp?.touched)">
          <span class="messages text-danger" *ngIf="no_telp?.errors.required">
            Harus diisi
          </span>
          <span class="messages text-danger" *ngIf="no_telp?.errors.pattern">
            Diisi dengan angka
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Email" formControlName="email">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <span class="messages text-danger" *ngIf="email?.errors.required">
            Harus diisi
          </span>
          <span class="messages text-danger" *ngIf="email?.errors.pattern">
            Diisi dengan format email
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Username <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Username" formControlName="username">
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
          <span class="messages text-danger" *ngIf="username?.errors.required">
            Harus diisi
          </span>
          <span class="messages text-danger" *ngIf="username?.errors.minlength">
            Min 5 karakter
          </span>
          <span class="messages text-danger" *ngIf="username?.errors.alreadyExist">
            Sudah ada
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Password <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <show-hide-password size="" icon="fontawesome" style="margin-bottom: 0px;">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </show-hide-password>
        <span class="messages text-default">
          Kosongkan jika tidak merubah password.
        </span>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <span class="messages text-danger" *ngIf="password?.errors.required">
            Harus diisi
          </span>
          <span class="messages text-danger" *ngIf="password?.errors.minlength">
            Min 6 karakter
          </span>
        </div>
      </div>
    </div>
  </div> -->
</div>
<!-- </form> -->
